.enlaces:link{
    text-decoration: none;
    color: black;
}
.enlaces:visited{
    text-decoration: none;
    color: black;
}

header{
    background-color: azure;
}

.modificar {
    background-color: aquamarine;
}

.activo {
    background-color: lightgreen;
}

.desactivado {
    background-color: rgb(210, 47, 47);
}